body {
  background: black;
  color: #00ff88;
  font-family: monospace;
}

.terminal {
  width: 420px;
  margin: 100px auto;
  border: 1px solid #00ff88;
  padding: 20px;
}

input, select, button {
  width: 100%;
  margin-top: 5px;
  background: black;
  color: #00ff88;
  border: 1px solid #00ff88;
}
